.u-section-1 {
  background-image: url("images/bg-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 76px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 428px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 120px 30px 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 300;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-family: "Bai Jamjuree";
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 198px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 556px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.7;
  font-weight: 300;
  margin: 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 25px;
  height: auto;
  margin: 76px 869px 0 30px;
}

.u-section-1 .u-custom-html-2 {
  min-height: 40px;
  height: auto;
  margin: 0 940px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 353px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 163px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 458px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 699px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-2 {
    width: 200px;
    margin-right: 740px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 129px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 479px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 520px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 166px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 299px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 340px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 105px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 99px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 140px;
  }
}